<main>
<section id="dashboard">
    <h2>Your Stories</h2>

    <!-- Story List as Cards -->
    <div class="card" *ngFor="let book of books">
        <div class="card-title">{{ book.title }}</div>
        <div class="card-author">{{ book.author }}</div>
        <div class="card-genre">{{ book.genre }}</div>
        <p class="card-content">{{ book.content}}</p>
        <div class="card-actions">
            <a href="#" class="btn">Edit</a>
            <a href="#" class="btn">Delete</a>
        </div>
    </div>

    <!-- Add Story Form -->
    <h2>Add Story</h2>
    <form class="add-story-form">
        <label for="storyTitle">Title:</label>
        <input type="text" name="title" id="title" [(ngModel)]="bookData.title">
    
        <label for="storyAuthor">Author:</label>
        <input type="text" name="author" id="author" [(ngModel)]="bookData.author">
    
        <label for="storyGenre">Genre:</label>
        <select id="genre" name="genre" [(ngModel)]="bookData.genre">
            <option value="" disabled selected>Select a Genre</option>
            <option value="fantasy">Fantasy</option>
            <option value="mystery">Mystery</option>
            <option value="science_fiction">Science Fiction</option>
            <option value="romance">Romance</option>
            <!-- Add more genres here -->
        </select>
    
        <label for="storyContent">Content:</label>
        <textarea id="storyContent" name="storyContent" rows="4" required></textarea>
    
        <button type="submit" class="btn" (click)="addBook()">Add Story</button>
    </form>
</section>
</main>