<div>
<table>
    <thead>
        <tr>
            <th>Profile</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Age</th>
            <th>Nationality</th>
            <th>Bookswritten</th>
            <th>Bio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let writer of writersData">
            <td><img [src]="writer.img" alt="Profile Image" width="100" height="100"></td>
            <td>{{ writer.name }}</td>
            <td>{{ writer.genre }}</td>
            <td>{{ writer.age }}</td>
            <td>{{ writer.nationality }}</td>
            <td>{{ writer.bookswritten }}</td>
            <td>{{ writer.bio }}</td>
            <td class="buttons">
                <button>
                    <span class="material-symbols-outlined">
                        edit_note
                        </span>
                </button>
                <button><span class="material-symbols-outlined">
                    delete
                    </span></button>
                <button>
                    <span class="material-symbols-outlined">
                        preview
                        </span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
</div>

