<div class="admin-container">
    <section class="book-stats">
  <h2>Book Statistics</h2>
  <div class="graphical-representation">
    <p>Total Users: {{ totalUsers }}</p>
    <p>Total Books: {{ totalBooks }}</p>
  </div>
</section>


<section>
    <div class="user-crud">
      
        <div class="user-list">
          <table>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
            <tr *ngFor="let user of users" class="user-item">
              <td>{{ user.id }}</td>
              <td>{{ user.userName }}</td>
              <td>{{ user.email }}</td>
              <td>
                <button (click)="removeUser(user.id)">Remove account</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

</section>

</div>
  